<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Chinese Poetry Turing Test Statistics</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/custom.css" type="text/css" />

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <!-- Custom Scripts -->
    <script src="/chartAjax.js"></script>

  </head>

  <body>
    <div class="container">
      <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="#">
          <img src="/assets/ink.png" width="40" height="30" class="d-inline-block align-top" alt="">
          Chinese Poetry Turing Test
        </a>
      </nav>

      <div class="row">
        <div class="col">
          <div class="jumbotron">
            <h1>Poetry Generation Turing Test Statistics</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h1> Computer </h1>
          <canvas id="computer-chart"></canvas>
        </div>
        <div class="col-lg-6">
          <h1> Human </h1>
          <canvas id="human-chart"></canvas>
        </div>
      </div>
    </div>
  </body>
</html>
