<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Chinese Poetry Turing Test</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/custom.css" type="text/css" />

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <!-- Custom Scripts -->
    <script src="/formAjax.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="/">
          <img src="/assets/ink.png" width="40" height="30" class="d-inline-block align-top" alt="">
          Chinese Poetry Turing Test
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/charts">Results</a>
            </li>
          </ul>
          <a class="btn btn-outline-success my-2 my-sm-0" href="/charts">Results</a>
        </div>
      </nav>

      <div class="row">
        <div class="card text-white">
        <img class="card-img" src="/assets/robo.png">
          <div class="card-img-overlay">
            <h4 class="card-title">Turing Test</h4>
          </div>
        </div>
      </div>
      
      <div class="row align-items-center">
        <!-- Poem Block -->
        <div class="col-md-6" id="card-col">
          <div class="card bg-light mb-3 text-center">
            <div class="card-header">
              <h3>
                <span class="badge badge-dark" id="score-indicator">New Game</span>
                <span id="score"></span>
              </h3>
            </div>
            <div class="card-body">
              <h1 class="card-text" id="poem-content">
                {{{poem}}}
              </h1>
              <br />
              <button class="btn btn-lg btn-outline-primary" id="skip-button">Skip</button>
            </div>
            <div class="card-footer text-muted">
              <span> Poem ID: </span>
              <span id="poem-id"> {{{poem_id}}} </span>
            </div>
          </div>
        </div>

        <!-- Form Block -->
        <div class="col-md-6">
          <form class="form-rate-poem" id="turing-form" method="post">
            <div class="form-row">
              <div class="form-group col">
                <label class="col-form-label">Readability</label>
                <div data-toggle="buttons">
                  <div class="btn-group" id="readability-btn-group">
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="1" name="readability" class="sr-only rd1" required>1</label>
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="2" name="readability" class="sr-only rd2" required>2</label>
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="3" name="readability" class="sr-only rd3" required>3</label>
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="4" name="readability" class="sr-only rd4" required>4</label>
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="5" name="readability" class="sr-only rd5" required>5</label>
                  </div>
                </div>
              </div>
              <div class="form-group col">
                <label class="col-form-label">Consistency</label>
                <div data-toggle="buttons">
                  <div class="btn-group" id="consistency-btn-group">
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="1" name="consistency" class="sr-only rd1" required>1</label>
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="2" name="consistency" class="sr-only rd2" required>2</label>
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="3" name="consistency" class="sr-only rd3" required>3</label>
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="4" name="consistency" class="sr-only rd4" required>4</label>
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="5" name="consistency" class="sr-only rd5" required>5</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label class="col-form-label">Poeticness</label>
                <div data-toggle="buttons">
                  <div class="btn-group" id="poeticness-btn-group">
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="1" name="poeticness" class="sr-only rd1" required>1</label>
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="2" name="poeticness" class="sr-only rd2" required>2</label>
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="3" name="poeticness" class="sr-only rd3" required>3</label>
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="4" name="poeticness" class="sr-only rd4" required>4</label>
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="5" name="poeticness" class="sr-only rd5" required>5</label>
                  </div>
                </div>
              </div>
              <div class="form-group col">
                <label class="col-form-label">Evocative</label>
                <div data-toggle="buttons">
                  <div class="btn-group" id="evocative-btn-group">
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="1" name="evocative" class="sr-only rd1" required>1</label>
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="2" name="evocative" class="sr-only rd2" required>2</label>
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="3" name="evocative" class="sr-only rd3" required>3</label>
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="4" name="evocative" class="sr-only rd4" required>4</label>
                    <label class="btn btn-lg btn-outline-primary">
                      <input type="radio" value="5" name="evocative" class="sr-only rd5" required>5</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Overall</label>
                <div data-toggle="buttons">
                  <div class="btn-group" id="overall-btn-group">
                    <label class="btn btn-lg btn-outline-danger">
                      <input type="radio" value="1" name="overall" class="sr-only rd1" required>1</label>
                    <label class="btn btn-lg btn-outline-danger">
                      <input type="radio" value="2" name="overall" class="sr-only rd2" required>2</label>
                    <label class="btn btn-lg btn-outline-danger">
                      <input type="radio" value="3" name="overall" class="sr-only rd3" required>3</label>
                    <label class="btn btn-lg btn-outline-danger">
                      <input type="radio" value="4" name="overall" class="sr-only rd4" required>4</label>
                    <label class="btn btn-lg btn-outline-danger">
                      <input type="radio" value="5" name="overall" class="sr-only rd5" required>5</label>
                  </div>
                </div>
              </div>
            <div class="form-group">
              <label class="col-form-label">Author</label>
              <div data-toggle="buttons">
                <div class="btn-group" id="turing-btn-group ">
                  <label class="btn btn-lg btn-outline-info">
                    <input type="radio" value="Computer" name="author" class="sr-only rd1" required>Computer</label>
                  <label class="btn btn-lg btn-outline-warning">
                    <input type="radio" value="Human" name="author" class="sr-only rd2" required>Human</label>
                </div>
              </div>
            </div>
            <button id="turing-button" class="btn btn-lg btn-outline-primary btn-block">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
